{
    "mail" : {
        "connectionString" : "",
        "to": "",
        "from": ""
    },
    "influx": {
        "host": "",
        "user": "",
        "pass": "",
        "db": ""
    },
    "sensor": {
        "id": ""
    },

    "frequency": "3",

    "logfile": "path/to/logfile"
}
